<template>
  <div class="container">
    <back-ground></back-ground>

    <form style="position: relative;z-index: 5; ">
      <div class="form-group">
        <p style="margin-top: 2%;">
          ข้อมูลของท่านบางส่วนจะไม่เปิดเผยต่อสาธารณะ
          ตามที่ระบุไว้ใน”กฏและข้อตกลง”
        </p>
        <select
          id="position"
          class="form-control"
          v-on:change="changePosition"
          v-model="select_position"
        >
          <option v-for="position in positions" :key="position">
            {{ position }}
          </option>
        </select>

        <div class="body_input">
          <p>อัพโหลดภาพโปรไฟล์<span class="span_orage ">* </span></p>
          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame">
              <img id="output_image" />
            </div>
            <div style="width:50%;">
              <p
                style="font-size: 12px;color: #7e7e7e;margin-top: 8%; "
                id="demo"
              >
                รูปโปรไฟล์
              </p>
            </div>

            <div style="float: right;">
              <button class="button_upload" id="upload_profile">
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="file_input"
                style="display: none;"
              />
            </div>
          </div>
        </div>
        <p>ชื่อ-นามสกุล<span class="span_orage ">* </span></p>
        <div style="margin-top: 2%; display: flex; margin-bottom: 2%;">
          <select
            class="form-control"
            id="title"
            style=" width: 30%;"
            v-model="select_title"
          >
            <option v-for="title in titles" :key="title">{{ title }}</option>
          </select>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="ชื่อ-นามสกุล"
            v-model="name"
            style="width: 65%; margin-left: 5%;"
          />
        </div>

        <p>ชื่อเล่น</p>
        <input
          type="text"
          class="form-control"
          id="nickname"
          placeholder="ชื่อเล่น"
          v-model="nickname"
          style="margin-top:2% ;margin-bottom: 2%;"
        />

        <div class="body_input">
          <p style="margin-left: 2%;">
            วัน/เดือน/ปีเกิด<span class="span_orage ">* </span>
          </p>
          <div style="display: flex; justify-content: center; width: 100%;">
            <select
              class="form-control"
              name="dob-day"
              id="dob-day"
              v-model="dobday"
              style="width: 30%;"
            >
              <option selected value="">วัน</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
            <select
              class="form-control"
              name="dob-month"
              id="dob-month"
              v-model="dobmonth"
              style="width: 30%; margin-left: 2%;margin-right: 2%;"
            >
              <option selected value="">เดือน</option>
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
            <select
              class="form-control"
              name="dob-year"
              id="dob-year"
              v-model="dobyear"
              style="width: 30%;"
            >
              <option selected value="">ปี</option>

              <option value="2563">2563</option>
              <option value="2562">2562</option>
              <option value="2561">2561</option>
              <option value="2560">2560</option>
              <option value="2559">2559</option>
              <option value="2558">2558</option>
              <option value="2557">2557</option>
              <option value="2556">2556</option>
              <option value="2555">2555</option>
              <option value="2554">2554</option>
              <option value="2553">2553</option>
              <option value="2552">2552</option>
              <option value="2551">2551</option>
              <option value="2550">2550</option>
              <option value="2549">2549</option>
              <option value="2548">2548</option>
              <option value="2547">2547</option>
              <option value="2546">2546</option>
              <option value="2545">2545</option>
              <option value="2544">2544</option>
              <option value="2543">2543</option>
              <option value="2542">2542</option>
              <option value="2541">2541</option>
              <option value="2540">2540</option>
              <option value="2539">2539</option>
              <option value="2538">2538</option>
              <option value="2537">2537</option>
              <option value="2536">2536</option>
              <option value="2535">2535</option>
              <option value="2534">2534</option>
              <option value="2533">2533</option>
              <option value="2532">2532</option>
              <option value="2531">2531</option>
              <option value="2530">2530</option>
              <option value="2529">2529</option>
              <option value="2528">2528</option>
              <option value="2527">2527</option>
              <option value="2526">2526</option>
              <option value="2525">2525</option>
              <option value="2524">2524</option>
              <option value="2523">2523</option>
              <option value="2522">2522</option>
              <option value="2521">2521</option>
              <option value="2520">2520</option>
              <option value="2519">2519</option>
              <option value="2518">2518</option>
              <option value="2517">2517</option>
              <option value="2516">2516</option>
              <option value="2515">2515</option>
              <option value="2514">2514</option>
              <option value="2513">2513</option>
              <option value="2512">2512</option>
              <option value="2511">2511</option>
              <option value="2510">2510</option>
              <option value="2509">2509</option>
              <option value="2508">2508</option>
              <option value="2507">2507</option>
              <option value="2506">2506</option>
              <option value="2505">2505</option>
              <option value="2504">2504</option>
              <option value="2503">2503</option>
              <option value="2502">2502</option>
              <option value="2501">2501</option>
              <option value="2500">2500</option>
              <option value="2499">2499</option>
              <option value="2498">2498</option>
              <option value="2497">2497</option>
              <option value="2496">2496</option>
              <option value="2495">2495</option>
              <option value="2494">2494</option>
              <option value="2493">2493</option>
              <option value="2492">2492</option>
              <option value="2491">2491</option>
              <option value="2490">2490</option>
              <option value="2489">2489</option>
              <option value="2488">2488</option>
              <option value="2487">2487</option>
              <option value="2486">2486</option>
              <option value="2485">2485</option>
              <option value="2484">2484</option>
              <option value="2483">2483</option>
              <option value="2482">2482</option>
              <option value="2481">2481</option>
              <option value="2480">2480</option>
              <option value="2479">2479</option>
              <option value="2478">2478</option>
              <option value="2477">2477</option>
              <option value="2476">2476</option>
              <option value="2475">2475</option>
              <option value="2474">2474</option>
              <option value="2473">2473</option>
              <option value="2472">2472</option>
              <option value="2471">2471</option>
              <option value="2470">2470</option>
              <option value="2469">2469</option>
              <option value="2468">2468</option>
              <option value="2467">2467</option>
              <option value="2466">2466</option>
              <option value="2465">2465</option>
              <option value="2464">2464</option>
              <option value="2463">2463</option>
              <option value="2462">2462</option>
            </select>
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          id="age"
          placeholder="อายุ"
          v-model="age"
          style="margin-top:2% ;"
        />
        <input
          type="text"
          maxlength="13"
          class="form-control"
          id="idCard"
          v-model="idcard"
          placeholder="เลขบัตรประจำตัวประชาชน "
          style="margin-top:2% ;"
        />

        <!-- ------------เบอร์โทร------------- -->
        <p>เบอร์โทร<span class="span_orage ">* </span></p>

        <input
          type="text"
          maxlength="10"
          class="form-control"
          id="phone"
          v-model="phone"
          placeholder="เบอร์โทร "
          style="margin-top:2% ;"
        />

        <!-- ------------Email------------- -->
        <p>อีเมล<span class="span_orage ">* </span></p>

        <input
          type="email"
          class="form-control"
          id="email"
          v-model="email"
          placeholder="อีเมล"
          style="margin-top:2% ;"
        />

        <!-- ------------ID Line------------- -->
        <p>ID Line<span class="span_orage ">* </span></p>

        <input
          type="text"
          class="form-control"
          id="lineId"
          v-model="lineId"
          placeholder="ID Line"
          style="margin-top:2%;"
        />
        <!-- ------------Facebook<------------- -->
        <p>Facebook</p>
        <input
          type="text"
          class="form-control"
          id="facebook"
          placeholder="Facebook"
          v-model="facebook"
          style="margin-top:2%;"
        />
        <div class="body_input" style="flex-direction: column;">
          <p>อัพโหลดภาพหลักฐานการสมัคร<span class="span_orage ">* </span></p>
          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame">
              <img id="output_image" />
            </div>
            <div style="width:50%;">
              <p class="describe_upload" id="demo">
                รูปภาพบัตรประจำตัวประชาชน
                <span class="span_orage ">
                  *
                  <br />(ขนาดไม่เกิน 2MB)
                </span>
              </p>
            </div>

            <div style="float: right;">
              <button class="button_upload" id="upload_profile">
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="file_input"
                style="display: none;"
              />
            </div>
          </div>

          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame">
              <img id="output_image" />
            </div>
            <div style="width:50%;">
              <p class="describe_upload" id="demo">
                รูปภาพใบประกอบวิชาชีพ
                <span class="span_orage ">
                  *
                  <br />(ขนาดไม่เกิน 2MB)
                </span>
              </p>
            </div>

            <div style="float: right;">
              <button class="button_upload" id="upload_profile">
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="file_input"
                style="display: none;"
              />
            </div>
          </div>

          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame">
              <img id="output_image" />
            </div>
            <div style="width:50%;">
              <p class="describe_upload" id="demo">
                รูปภาพหน้าสมุดธนาคาร
                <span class="span_orage ">
                  *
                  <br />(ขนาดไม่เกิน 2MB)
                </span>
              </p>
            </div>

            <div style="float: right;">
              <button class="button_upload" id="upload_profile">
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="file_input"
                style="display: none;"
              />
            </div>
          </div>
        </div>
        <div class="body_input" id="demo1">
          <!-- ------------ที่อยู่ตามบัตรประชาชน------------ -->
          <p>ที่อยู่ตามบัตรประชาชน<span class="span_orage ">* </span></p>

          <input
            type="text"
            class="form-control"
            id="no"
            v-model="no"
            placeholder="เลขที่อยู่ / ถนน / ซอย"
            style="margin-top:5% ;"
          />

          <!-- ------------รหัสไปรษณีย์------------- -->

          <input
            type="text"
            class="form-control"
            maxlength="5"
            id="postcode"
            name="postcode"
            v-model="postcode"
            placeholder="รหัสไปรษณีย์"
            style="margin-top:2% ;"
          />
          <!-- ------------จังหวัด------------ -->

          <input
            type="text"
            class="form-control"
            name="province"
            data-flip="true"
            id="province"
            placeholder="จังหวัด"
            v-model="province"
            style="margin-top:2% ;"
          />

          <!-- ------------อำเภอ------------ -->

          <input
            type="text"
            class="form-control"
            name="district"
            id="district"
            placeholder="อำเภอ"
            v-model="district"
            style="margin-top:2% ;"
          />
          <!-- ------------ตำบล------------ -->

          <input
            type="text"
            class="form-control"
            name="zone"
            id="zone"
            placeholder="ตำบล"
            v-model="zone"
            style="margin-top:2% ;"
          />
        </div>

        <div class="body_input" id="demo2">
          <p>
            ที่อยู่ปัจจุบัน(ที่สามารถติดต่อกลับได้)<span class="span_orage "
              >*
            </span>
          </p>
          <div style="display: flex;margin-left: 2%;margin-top: 5%;">
            <input type="checkbox" class="form-control-sm" id="address_too" />
            <p style="margin-left: 3%;">
              ใช้ที่อยู่เดียวกันกับในบัตรประจำตัวประชาชน
            </p>
          </div>
          <input
            type="text"
            class="form-control"
            id="noNow"
            v-model="noNow"
            placeholder="เลขที่อยู่ / ถนน / ซอย"
            style="margin-top:5% ;"
          />

          <!-- ------------รหัสไปรษณีย์------------- -->

          <input
            type="text"
            class="form-control"
            name="postcodeNow"
            id="postcodeNow"
            v-model="postcodeNow"
            placeholder="รหัสไปรษณีย์"
            style="margin-top:2% ;"
          />
          <!-- ------------จังหวัด------------ -->
          <input
            type="text"
            class="form-control"
            name="provinceNow"
            id="provinceNow"
            placeholder="จังหวัด"
            v-model="provinceNow"
            style="margin-top:2% ;"
          />

          <!-- ------------อำเภอ------------ -->

          <input
            type="text"
            class="form-control"
            name="districtNow"
            id="districtNow"
            v-model="districtNow"
            placeholder="อำเภอ"
            style="margin-top:2% ;"
          />
          <!-- ------------ตำบล------------ -->

          <input
            type="text"
            class="form-control"
            name="zoneNow"
            id="zoneNow"
            v-model="zoneNow"
            placeholder="ตำบล"
            style="margin-top:2%; margin-bottom: 5%;"
          />
        </div>
      </div>
      <grey-page> </grey-page>
      <div class="body_button">
        <button
          class="button_save"
          style="width: 100%; margin-left: 0%;"
          id="next"
          @click="changebirthDay"
        >
          บันทึก
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import BackGround from "./../Element/Background";
import GreyPage from "./../Element/GreyPage";
import { RegisterPersonalMixin } from "../component/RegisterPersonalMixin";
export default {
  mixins: [RegisterPersonalMixin],
  components: {
    backGround: BackGround,
    greyPage: GreyPage
  }
};
</script>
<style>
.container {
  margin-top: 5%;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: grey; */
}
.upload_frame {
  width: 60px;
  height: 60px;
  border: 1px solid #d9d9d9;
  margin-right: 1%;
  margin-top: 5%;
  text-align: center;
}
.describe_upload {
  font-size: 12px;
  color: #7e7e7e;
  margin-top: 8%;
}
.form-group {
  width: 100%;
  position: relative;
  z-index: 5;
}
</style>
