<template>
  <div class="container">
    <back-ground></back-ground>

    <div class="form-group" style="margin-top: 2%;">
      <p>ทักษะและความสามารถ</p>
      <p style="font-size: 12px;">
        กรุณาตอบตามความเป็นจริง
        เพื่อใช้ในการพิจารณาส่งไปปฏิบัติงานตามความสามารถของท่าน
      </p>
      <!-- ------------ชื่อ-นามสกุล------------- -->
      <div style="margin-top: 2%; display: flex; margin-bottom: 2%;" id="hide">
        <select
          class="form-control"
          id="level"
          style="width: 100%;"
          v-model="level"
        >
          <option selected disabled>ระดับความสามารถ </option>
          <option value="1">ระดับความสามารถ Level 1</option>
          <option value="2">ระดับความสามารถ Level 2</option>
          <option value="3">ระดับความสามารถ Level 3</option>
          <option value="4">ระดับความสามารถ Level 4</option>
        </select>
        <button type="button" class="btn detail" onclick="go_detail()">
          <img src="../image/group_8526.svg" alt="" />
        </button>
      </div>
      <div class="body_input">
        <!-- ---------------ทักษะเฉพาะทาง หรือความสามารถพิเศษ---------------------- -->
        <p>
          ทักษะเฉพาะทาง หรือความสามารถพิเศษ<span class="span_orage">* </span>
        </p>
        <textarea
          class="form-control"
          name="skill"
          id="skill"
          cols="20"
          rows="5"
          placeholder="อธิบายเพิ่มเติม"
          style="margin-top: 2%; margin-bottom: 5%;"
          v-model="skill"
        ></textarea>
      </div>

      <div class="body_input">
        <p>
          ทักษะพิเศษของท่าน (5 = มาก, 1 = น้อย)<span class="span_orage"
            >*
          </span>
        </p>
        <hr />

        <!-- number -->
        <div style="display: flex;">
          <div style="width: 50%;"></div>
          <div style="width: 50%;">
            <!-- <div class="row" style="display: flex;">
                        <div class="col-sm-3">1</div>
                        <div class="col-sm-3">2</div>
                        <div class="col-sm-3">3</div>
                        <div class="col-sm-3">4</div>
                        <div class="col-sm-3">5</div>
                      </div> -->
            <p>
              <span style="margin-right: 9%; margin-left: 3%;">
                1
              </span>
              <span style="margin-right: 9%;"> 2 </span>
              <span style="margin-right: 9%;"> 3 </span>
              <span style="margin-right: 9%;"> 4 </span>
              <span> 5 </span>
            </p>
          </div>
        </div>

        <!-- มนุษยสัมพันธ์ดี -->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>มนุษยสัมพันธ์ดี</p>
          </div>
          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                name="humanRelation"
                id="humanRelation1"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />

              <input
                type="radio"
                class="form-control-md"
                name="humanRelation"
                id="humanRelation2"
                value="2"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="humanRelation"
                id="humanRelation3"
                value="3"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="humanRelation"
                id="humanRelation4"
                value="4"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="humanRelation"
                id="humanRelation5"
                value="5"
                style="margin-top:4%;margin-left:7%;"
              />
            </div>
          </div>
        </div>
        <!-- สื่อสารดี, ใช้คำพูดเป็น -->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>สื่อสารดี, ใช้คำพูดเป็น</p>
          </div>

          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                v-model="communicate"
                name="communicate"
                id="communicate1"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />
              <input
                type="radio"
                class="form-control-md"
                v-model="communicate"
                name="communicate"
                id="communicate2"
                value="2"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                v-model="communicate"
                name="communicate"
                id="communicate3"
                value="3"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                v-model="communicate"
                name="communicate"
                id="communicate4"
                value="4"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                v-model="communicate"
                name="communicate"
                id="communicate4"
                value="4"
                style="margin-top:4%; margin-left: 7%;"
              />
            </div>
          </div>
        </div>

        <!-- ทักษะภาษาอังกฤษ -->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>ทักษะภาษาอังกฤษ</p>
          </div>

          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                name=" languageEng"
                v-model="languageEng"
                id=" languageEng1"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" languageEng"
                v-model="languageEng"
                id=" languageEng2"
                value="2"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" languageEng"
                v-model="languageEng"
                id=" languageEng3"
                value="3"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" languageEng"
                v-model="languageEng"
                id=" languageEng4"
                value="4"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" languageEng"
                v-model="languageEng"
                id=" languageEng5"
                value="5"
                style="margin-top:4%; margin-left: 7%;"
              />
            </div>
          </div>
        </div>

        <!-- แก้ปัญหาเฉพาะหน้า -->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>แก้ปัญหาเฉพาะหน้า</p>
          </div>

          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                name=" problemSolve"
                v-model="problemSolve"
                id=" problemSolve1"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" problemSolve"
                v-model="problemSolve"
                id=" problemSolve2"
                value="2"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" problemSolve"
                v-model="problemSolve"
                id=" problemSolve3"
                value="3"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" problemSolve"
                v-model="problemSolve"
                id=" problemSolve4"
                value="4"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name=" problemSolve"
                v-model="problemSolve"
                id=" problemSolve5"
                value="5"
                style="margin-top:4%; margin-left: 7%;"
              />
            </div>
          </div>
        </div>

        <!-- ความรู้วิชาการ -->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>ความรู้วิชาการ</p>
          </div>

          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                name="knowledge"
                v-model="knowledge"
                id="knowledge1"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="knowledge"
                v-model="knowledge"
                id="knowledge2"
                value="2"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="knowledge"
                v-model="knowledge"
                id="knowledge3"
                value="3"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="knowledge"
                v-model="knowledge"
                id="knowledge4"
                value="4"
                style="margin-top:4%; margin-left: 7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="knowledge"
                v-model="knowledge"
                id="knowledge5"
                value="5"
                style="margin-top:4%; margin-left: 7%;"
              />
            </div>
          </div>
        </div>

        <!-- ความละเอียดรอบคอบ-->
        <div style="display: flex;">
          <div style="width: 50%;">
            <p>ความละเอียดรอบคอบ</p>
          </div>

          <div style="width: 50%;">
            <div class="row">
              <input
                type="radio"
                class="form-control-md"
                name="prudence"
                id="prudence1"
                v-model="prudence"
                value="1"
                style="margin-top:4%;margin-left:9%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="prudence"
                id="prudence2"
                v-model="prudence"
                value="2"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="prudence"
                id="prudence3"
                v-model="prudence"
                value="3"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="prudence"
                id="prudence4"
                v-model="prudence"
                value="4"
                style="margin-top:4%;margin-left:7%;"
              />
              <input
                type="radio"
                class="form-control-md"
                name="prudence"
                id="prudence5"
                v-model="prudence"
                value="5"
                style="margin-top:4%;margin-left:7%;"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="body_input">
        <p>ท่านสนใจงานบริเวณใด<span class="span_orage">* </span></p>
        <hr />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            v-model="workArea_1"
            v-on:change="check"
            name="workArea"
            id="workArea1"
            value=" ทั่วเขตกรุงเทพฯ"
            checked
          />
          <label class="form-check-label" for="workArea1">
            ทั่วเขตกรุงเทพฯ
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workArea"
            v-model="workArea_2"
            v-on:change="check"
            id="workArea2"
            value="กรุงเทพฯและปริมณฑล"
          />
          <label class="form-check-label" for="workArea2">
            กรุงเทพฯและปริมณฑล
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workArea"
            v-model="workArea_3"
            v-on:change="check"
            id="workArea3"
            value="ทุกจังหวัดของประเทศไทย"
          />
          <label class="form-check-label" for="workArea3">
            ทุกจังหวัดของประเทศไทย
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workArea"
            id="workArea4"
            value="กรุงเทพ (เฉพาะเขต)"
          />
          <label class="form-check-label" for="workArea4">
            กรุงเทพ (เฉพาะเขต)
          </label>
          <div style="display: flex; justify-content: center;">
            <input
              type="text"
              class="form-control"
              placeholder="เขต"
              v-model="workArea_4"
              id="specific_district"
              style="margin-top: 2%; width: 60%;"
            />
          </div>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workArea"
            id="workArea5"
            value="จังหวัด (เฉพาะจังหวัด)"
          />
          <label class="form-check-label" for="workArea5">
            จังหวัด (เฉพาะจังหวัด)
          </label>
          <div style="display: flex; justify-content: center;">
            <input
              type="text"
              class="form-control"
              id="specificl_province"
              placeholder="จังหวัด"
              v-model="workArea_5"
              style="margin-top: 2%; width: 60%;"
            />
          </div>
        </div>
      </div>

      <div class="body_input">
        <p>ท่านสนใจงานรูปแบบใด<span class="span_orage">* </span></p>
        <hr />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workType"
            id="part_time"
            v-model="workType"
            value="Part time"
          />
          <label
            class="form-check-label"
            for="part_time"
            style="margin-left: 2%;"
          >
            Part time
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workType"
            id="full_time"
            v-model="workType"
            value="Full time"
          />
          <label
            class="form-check-label"
            for="full_time"
            style="margin-left: 2%;"
          >
            Full time
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="workType"
            id="both"
            v-model="workType"
            value="Part time และ Full time"
          />
          <label class="form-check-label" for="both" style="margin-left: 2%;">
            ทั้ง Part time และ Full time
          </label>
        </div>
      </div>
      <div class="body_input">
        <p>
          ท่านสามารถทำงานในวันหยุดพิเศษ/เทศกาลได้หรือไม่<span class="span_orage"
            >*
          </span>
        </p>
        <hr />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            v-model="holiday"
            id="yes"
            name="holiday "
            value="ได้"
          />
          <label class="form-check-label" for="yes" style="margin-left: 2%;">
            ได้
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            v-model="holiday"
            name="holiday "
            id="no"
            value="ไม่ได้"
          />
          <label class="form-check-label" for="no" style="margin-left: 2%;">
            ไม่ได้
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            v-model="holiday"
            id="maybe"
            name="holiday "
            value="ไม่แน่ใจ"
            v-on:click="hideNote"
          />
          <label class="form-check-label" for="maybe" style="margin-left: 2%;">
            ไม่แน่ใจ
          </label>
        </div>
        <textarea
          class="form-control"
          name="skill"
          v-model="noteHoliday"
          id="noteHoliday"
          cols="20"
          rows="5"
          placeholder="กรุณาอธิบายเพิ่มเติม"
          style="margin-top: 2%; margin-bottom: 5%; display: none;"
        ></textarea>
      </div>

      <grey-page> </grey-page>
      <div class="body_button">
        <button class="button_back" style="width: 30%;" @click="goback">
          <img src="../image/left_arrow_2.svg" alt="" style="float: left;" />
          กลับ
        </button>
        <button class="button_save" style="width: 70%;" @click="nextpage">
          <!-- <button class="button_save" style="width: 70%;" onclick="window.location.href='https://liff.line.me/1654040818-EjA8PgGR'"> -->

          ถัดไป
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "./../Element/Background";
import GreyPage from "./../Element/GreyPage";
import { RegisterPersonal2Mixin } from "../component/RegisterPersonal2Mixin";

export default {
  mixins: [RegisterPersonal2Mixin],
  components: {
    backGround: BackGround,
    greyPage: GreyPage
  }
};
// $("#specific_province").click(function() {
//   $("#workArea5").trigger("click");
//   // document.getElementById("specific_province").required;
//   console.log("OK");
// });

// $("#specific_district").click(function() {
//   $("#workArea4").trigger("click");
//   console.log("OK");
// });
</script>
<style>
.container {
  margin-top: 5%;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: grey; */
}
.upload_frame {
  width: 60px;
  height: 60px;
  border: 1px solid #d9d9d9;
  margin-right: 1%;
  margin-top: 5%;
  text-align: center;
}
.describe_upload {
  font-size: 12px;
  color: #7e7e7e;
  margin-top: 8%;
}
.form-group {
  width: 100%;
  position: relative;
  padding: 2%;
  z-index: 5;
}
.radio_sort_first {
  margin-top: 4%;
  margin-left: 9%;
}
.radio_sort_other {
  margin-top: 4%;
  margin-left: 7%;
}
</style>
