<template>
  <div class="container">
    <back-ground></back-ground>

    <div class="form-group" style="margin-top: 2%;">
      <p>ทักษะและความสามารถ<span class="span_orage ">* </span></p>
      <p style="font-size: 12px;">
        กรุณาตอบตามความเป็นจริง
        เพื่อใช้ในการพิจารณาส่งไปปฏิบัติงานตามความสามารถของท่าน
      </p>

      <div class="body_input">
        <p>
          สมมติ มีเคสเข้ามารักษาและเกิดเสียชีวิต ท่านจะแจ้งเจ้าของเคสว่าอย่างไร
          ถ้าเจ้าของเคสเป็นคนค่อนข้างละเอียดและมีอิทธิพลต่อสังคม<span
            class="span_orage "
            >*
          </span>
        </p>
        <hr />
        <p style="font-size: 12px; color: #7e7e7e;">
          สมมติ
          สาเหตุการเสียชีวิตได้ตามประสบการณ์หรือความถนัดในการรักษาได้เลยค่ะ
          ตอบได้ตั้งแต่ระยะก่อนรักษา ระหว่างรักษา และหลังจากเสียชีวิตแล้ว
          ว่าควรแจ้งอย่างไร
        </p>
        <hr />
        <div style="margin-top: 5%;">
          <p>คำตอบ<span class="span_orage ">* </span></p>
          <textarea
            class="form-control"
            name="detail_more"
            id="ansQ"
            cols="20"
            rows="5"
            placeholder="เขียนคำตอบของท่านที่นี่"
            style="margin-top: 2%;margin-bottom: 5%;"
            v-model="ansQ"
          ></textarea>
        </div>
        <hr />
        <div style="margin-top: 5%;">
          <p>รายละเอียดอื่นๆ</p>
          <textarea
            class="form-control"
            name="detail_more"
            id="noteQ"
            cols="20"
            rows="5"
            placeholder="เขียนคำตอบของท่านที่นี่"
            style="margin-top: 2%;margin-bottom: 5%;"
            v-model="noteQ"
          ></textarea>
        </div>
        <div style="margin-top: 5%;">
          <p>ข้อเสนอแนะ</p>
          <textarea
            class="form-control"
            name="detail_more"
            id="commentQ"
            cols="20"
            rows="5"
            placeholder="เขียนคำตอบของท่านที่นี่"
            style="margin-top: 2%;margin-bottom: 5%;"
            v-model="commentQ"
          ></textarea>
        </div>
        <hr />
      </div>

      <grey-page></grey-page>
      <div class="body_button">
        <button class="button_back" style="width: 30%;">
          <img src="image/left_arrow_2.svg" alt="" style="float: left;" />
          กลับ
        </button>

        <button class="button_save" style="width: 70%;">
          บันทึก
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "./../Element/Background";
import GreyPage from "./../Element/GreyPage";
import { RegisterPersonal3Mixin } from "../component/RegisterPersonal3Mixin";
export default {
  mixins: [RegisterPersonal3Mixin],
  components: {
    backGround: BackGround,
    greyPage: GreyPage
  }
};
</script>
<style>
.container {
  margin-top: 5%;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: grey; */
}
.upload_frame {
  width: 60px;
  height: 60px;
  border: 1px solid #d9d9d9;
  margin-right: 1%;
  margin-top: 5%;
  text-align: center;
}
.describe_upload {
  font-size: 12px;
  color: #7e7e7e;
  margin-top: 8%;
}
.form-group {
  width: 100%;
  position: relative;
  padding: 2%;
  z-index: 5;
}
.radio_sort_first {
  margin-top: 4%;
  margin-left: 9%;
}
.radio_sort_other {
  margin-top: 4%;
  margin-left: 7%;
}
</style>
