<template>
  <div>
    <!-- <app-register1></app-register1>-->

    <router-view></router-view>
    <!-- <app-register2></app-register2> -->
  </div>
</template>

<script>
import RegisterPersonal from "../src/component/RegisterPersonal";
import RegisterPersonal2 from "../src/component/RegisterPersonal2";
import RegisterPersonal3 from "../src/component/RegisterPersonal3";
export default {
  components: {
    appRegister1: RegisterPersonal,
    appRegister2: RegisterPersonal2,
    appRegister3: RegisterPersonal3
  }
};
</script>

<style></style>
